<h1>Pruebas con {{tipoAnimal}}</h1>
<!--<img [src]="urlImagen" [class.borde]="fotoBonita" [class.small]="!fotoBonita" [style.borderRadius.px]="radioEsquinas">-->
<ul>
  <li *ngFor="let animal of animales">
    {{animal.nombre}}
    <a href="#" (click)="borrarAnimal($event, animal)">X</a>
  </li>
</ul>
<input type="text" [(ngModel)]="nombreNuevo" placeholder="Nombre del nuevo bicho">
<button (click)="anyadirAnimal()">Añadir</button>
